$comment0
$end

$rem
SYMMETRY              true
BASIS                 {basis}
METHOD                {method}
MAX_SCF_CYCLES        1000
SCF_CONVERGENCE       8
MEM_STATIC            2000
SET_ITER              100
MOLDEN_FORMAT         true
PRINT_ORBITALS        2000
$end

$molecule
{molecule_data}
$end
